<br />
<br />



<center>
<p></p><hr width="60%"><p>
<!-- Begin Tilde.Club Ring Fragment-->
<font size="2">
</font></p><center><font size="2">
<center>
<br><img src="http://tilde.club/~harper/webring.png"  border="0" usemap="#notepad.map"><br>
</center>
<br>
Click for the [
<a href="http://tilde.club/~harper/link.html?action=random" target="_top">Random page</a> ]
<br>
Want to join the ring? Click here for
<a href="http://tilde.club/~harper/link.html?action=info" target="_top">info</a>.
<br></font></center>
<map name="notepad.map">
<area shape="rect" coords="0, 0, 60, 70" target="_top" href="http://tilde.club/~harper/link.html?action=join">
<area shape="rect" coords="130, 0, 417, 75" target="_top" href="http://tilde.club/~harper/link.html?action=random">
<area shape="rect" coords="465, 0, 549, 75" target="_top" href="http://tilde.club/~harper/link.html?action=join">
</map>
<!-- End Webring Fragment-->
</center>

<hr>

<table width="100%"><tr>
<td>
<div align="left"  width="40%">
<A href="/~harper"><img src="https://s.gravatar.com/avatar/b7a96b3d5b5cfed5228396104cd67b38?s=80" ></A>
<br />
<FONT SIZE=1>Improbably &copy; 2014 <A href="/~harper">Harper Reed</A>. <br /> Thanks for <A href="/~ford/">~ford</a> for this amazing service.</FONT>
</div>
</td>
<td>

<div align="right" width="40%">
<A HREF="http://www.eff.org/" target="_top">
<IMG  SRC="http://tilde.club/~harper/freespeechrib.gif" ALT="Join the Blue Ribbon Online Free Speech Campaign!" width="100" /><BR />
<FONT SIZE=1>Join the Blue Ribbon Online Free Speech Campaign!</FONT></A>
</BR>
</div>

</td>
</tr>
</table>